:root {
  --hn-color1: #031524;
  --hn-color2: #fdfffc;
  --hn-color3: #2ec4b6;
  --hn-color4: #e71d36;
  --hn-color5: #ff9f1c;
}

#root {
  border: 2px solid red;
  background-color: var(--hn-color1);
  color: var(--hn-color2);
}

header {
  border: 2px solid rgb(47, 255, 0);
  line-height: 2.5rem;
}

form {
  border: 2px solid rgb(204, 0, 255);
  border-radius: 0.2em;
  text-align: center;
}

#searchButton {
  border: 2px solid #f5cc93;
  background-color: #ff9f1c;
  border-radius: 0.2em;
  text-align: center;
  color: #fdfffc;
}

input {
  border: 2px solid rgb(255, 191, 0);
  background-color: #f5cc93;
  width:80%;
  text-align: center;
}

#hits li:nth-child(even) {
  background-color: var(--hn-color5);
}

#hits li:nth-child(odd) {
  background-color: var(--hn-color2);
}
