:root {
  --hn-color1: #031524;
  --hn-color2: #fdfffc;
  --hn-color3: #2ec4b6;
  --hn-color4: #e71d36;
  --hn-color5: #ff9f1c;
  --hn-color6: #dfdada;
}

#root {
  background-color: var(--hn-color3); 
  color: var(--hn-color2);
}

header {
  line-height: 2.5rem;
  margin: 10px;
}

main #hits {
  margin: 10px;
}

#hits li:nth-child(even) {
  /* border: 2px solid red; */
  /* background-color: var(--hn-color6); */
  background-color: #f6d4b4;
}

#hits li:nth-child(odd) {
  /* border: 2px solid rgb(119, 255, 0); */
  /* background-color: var(--hn-color2); */
  background-color: #f6e9b7;
}

#hits li:nth-child(even):hover {
  /* background: rgb(200, 200, 200); */
  background-color: #ff9f1c;
}

#hits li:nth-child(odd):hover {
  /* background: rgb(190, 190, 190); */
  background-color: #ff9f1c;
}

div.spinner-border {
  /**/
  width: 6rem;
  height: 6rem;
}


.pagination-button {
  border: 2px solid rgb(219, 223, 215); 
  border-radius: 0.1rem;
  color: #dfdada;
  background-color: var(--hn-color3); 
  padding-right: 10px;
  padding-left: 10px;

}

.pagination {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: larger;
}

#sites {
  padding: 10px;
}